

body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 4%, 5%);
}
#calculater{
   font-family: Arial, sans-serif;
   background-color: hsl(0, 60%, 6%);
   border-radius: 15px;
   max-width: 500px;
   overflow: hidden;
}
#display{
    width: 500px;
    padding: 10px;
    font-size: 5rem;
    text-align:left;
    border: none;
    background-color: hsl(0, 47%, 26%);
    color:white

}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color:hsl(0, 87%, 3%) ;
    color:white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}


.eqaul-btn {
 background-color: rgb(122, 7, 7);
  }

.otherss-btn{
    background-color: rgb(42, 129, 42);
}

.operater-btn{
       background-color: hsl(0, 47%, 26%);
}

